body {
    margin: 0;
    padding: 0;
    font-family: montserrat;

    height: 100vh;
    overflow: hidden;
    overflow-y: auto;
}

.container {
    background-color: #e6c8c8;
}

h2 {
    color: #2874A6;
    text-align: center;
}

.text {
    margin-left: 15%;
}

.form-label {
    color: #2874A6;
    font-weight: 700;
}

.textv {
    color: #2874A6;
    font-weight: 700;
}


.form-control {
    border: none;
    border-bottom: 1px solid #2874A6;
    background-color: transparent;
    color: #2874A6;
    width: 90%;
}

.form-select{
    width: 90%;
}

.btn-outline-success {
    color: #2874A6;
    border-color: #2874A6;
}

.btn-outline-success:hover {
    background-color: #2874A6;
    color: #ffffff;
}

.btn-outline-danger {
    color: #c62828;
    border-color: #c62828;
}

.btn-outline-danger:hover {
    background-color: #c62828;
    color: #ffffff;
}

.button-container {
    display: flex;
    justify-content: flex-end;
    margin-top: 10px;
}

.bt {
    margin-left: 60%;
    margin-top: 2%;
}

.form__input{
    position: relative;
}

.form-control:focus {
    border: 3px solid #2874A6;
    outline: none;
    box-shadow: 3px 0px 30px rgba(163, 163, 163, 0.5);
}

.formulario__input-Error{
    font-size: 12px;
    margin-bottom: 0;
    display: none;
}
.formulario__input-Error-activo {
    display: block;
}

.validacion-estado{
    position: absolute;
    right: 10px;
    bottom: 14px;
    z-index: 100;
    font-size: 16px;
    opacity: 0;
    width: 7%;
}

.formulario__mensaje,
.conf__pass{
    grid-column: span 2;
}

.formulario__mensaje{
    margin-top: 20px;
    height: 40px;
    width: 83%;
    line-height: 40px;
    background: #F66060;
    padding: 0 15 px;
    border-radius: 3px;
    display: none;
}

.formulario__mensaje-activo {
    display: block;
}

.formulario__mensaje p {
    margin: 0;
}

.icon{
    color: #bb2929;
    font-size: 150%;
}

/* Estilo Validacines */
.col-correcto .validacion-estado{
    color: #2874A6;
    opacity: 1;
}

.col-incorrecto .form-label{
    color: #bb2929;
}

.col-incorrecto .validacion-estado{
    color: #bb2929;
    opacity: 1;
}

.col-incorrecto .form-control{
    border: 3px solid #bb2929;
}

.text-red {
    color: #bb2929ed;
}

.link-style {
    color: #2874A6; /* Color de la letra */
    font-size: 16px; /* Tamaño de la fuente */
    font-weight: bold; /* Estilo de la fuente (negrita) */
    /* Agrega aquí más propiedades de estilo según tus preferencias */
}

.link-container {
    border: 1px solid #2874A6; /* Borde del contenedor */
    background-color: #f2f2f2; /* Color de fondo del contenedor */
    padding: 5px; /* Espacio interno del contenedor */
    margin-bottom: 10px; /* Margen inferior del contenedor */
    /* Agrega aquí más propiedades de estilo según tus preferencias */
}

